.form-horizontal.loginform {
    color: white !important;
    position: relative;
}
.form-horizontal.loginform label {
    color: white !important;
    margin-right: 2px;
}

.form-horizontal.loginform > div.form-group {
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}