.form-horizontal.loginform {
    color: white !important;
    position: relative;
}
.form-horizontal.loginform label {
    color: white !important;
    margin-right: 1px;
}

.form-horizontal.loginform > div.form-group {
    display: inline-block;
    margin-top: 20px;
    margin-right: 2px;
    padding-right: 0px
}

div.em{
    position: absolute;
    right: -190px;
    font-size: 11px;
    bottom: -10px;
    z-index: 1;
    display: none;
}


#loginform .ajaxdiv
{
    position: absolute;
    bottom: 30px;
    right: -10px;
}
.livesearch
{
    width: 300px;
    display: block;
    padding: 10px;
    position: relative;

}
#searchtext
{
    position: relative;
    padding: 5px 10px;
}

.searchImg {
    width: 50px;
}

#livesearch {
    position: absolute;
    background: #222;
    right: -10px;
    top: 70px;
    padding: 0px;
    list-style: none;
    width: 220px;
}
.closeSearch,
.closefrlist,
.closemsglist{
    position: absolute;
    color: white;
    opacity: 1 !important;
    right: 10px;
    list-style: none;
    top: 0;
    cursor: pointer;
    z-index: 10;
}



.userimg img
{
    width: 200px;
}
.imglist {
    width: 50px;
    height: 50px;
}
.fullname {
    margin-top: 15px;
    color: white;
}
.frnotif{
    color: white;
    margin-top: 15px;
    margin-right: 5px;
}

.frnotifli{
    width: 300px;
    display: block;
    padding: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
} 


.red {
    color: red;
    cursor: pointer;
}
#frnotiful {
    position: absolute;
    top: 45px;
    right: 0px;
    background: #222;
}
.friends {
    width: 200px;
}

.msgcountli {
    color: white;
    margin-top: 12px;
    margin-right: 5px;
}

.msgnotifli {
    list-style: none;
    width: 300px;
    display: inline-block;
    padding: 10px;
}
#msgnotiful
{
    position: absolute;
    padding: 0;
    background: #222;
    right: -10px;
    top: 30px;
    
}
.sendmsgparent {
    width: 400px;
    margin: 30px;
    margin-left: 0;

}

.sendmsgparent img
{
    position: absolute;
    bottom: 40px;
    left: 180px
}
#msgarea {
    width: 400px;
    height: 100px;
    padding: 10px;
    max-height: 100px;
    max-width: 400px;
    min-width: 400px;
    min-height: 100px;
}

.ta,
.ta:hover{
    display: block;
    text-align: center;
    margin-top: 10px;
    width: 150px;
    text-decoration: none;
}
.sendmsgnotif {
    width: 150px;
    position: absolute;
    left: 180px;
    bottom: 0px;
}
.friendwall
{
    margin: 10px;
}
.friendwall img{
    width: 60px;
    height: 80px;
    margin-right: 10px;
}