.form-horizontal.loginform {
    color: white !important;
    position: relative;
}
.form-horizontal.loginform label {
    color: white !important;
    margin-right: 1px;
}

.form-horizontal.loginform > div.form-group {
    display: inline-block;
    margin-top: 20px;
    margin-right: 2px;
    padding-right: 0px
}

div.em{
    position: absolute;
    right: -190px;
    font-size: 11px;
    bottom: -10px;
    z-index: 1;
    display: none;
}

#loginform .ajaxdiv
{
    position: absolute;
    bottom: 30px;
    right: -10px;
}